BasedOnStyle: LLVM
Standard: c++20
IndentWidth: 2
UseTab: Never
ColumnLimit: 100
AccessModifierOffset: -2
NamespaceIndentation: None
PointerAlignment: Left

SpacesInParens: Custom
SpacesInParensOptions:
  InConditionalStatements: true
  InCStyleCasts: true
  InEmptyParentheses: false
  Other: true
SpacesInSquareBrackets: false
SpaceBeforeParens: ControlStatements

AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Inline

BreakBeforeBraces: Allman
BinPackArguments: true
BinPackParameters: true
AlignAfterOpenBracket: DontAlign
ContinuationIndentWidth: 4
IndentCaseLabels: false
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
SortIncludes: CaseSensitive
IncludeBlocks: Preserve
